In [1]:
import numpy as np
import pandas as pd

In [2]:
from imodels import get_clean_dataset

In [5]:
# import abalone dataset
X, y, colnames = get_clean_dataset(183, data_source="openml")

In [7]:
X = pd.DataFrame(X, columns=colnames)

In [18]:
X

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,2.0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,2.0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0.0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,2.0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,1.0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,0.0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,2.0,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,2.0,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,0.0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,2.0,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [15]:
y = pd.Series(y, dtype="float")

In [16]:
y

0       15.0
1        7.0
2        9.0
3       10.0
4        7.0
        ...
4172    11.0
4173    10.0
4174     9.0
4175    10.0
4176    12.0
Length: 4177, dtype: float64

In [17]:
# write to csv
X.to_csv("abalone_X.csv", index=False)
y.to_csv("abalone_y.csv", index=False, header=False)